<div class = "container">
    <div class = "landing-row">
        <div class = "upload-group">
            <h1 class = "text-center">Upload Grades</h1>
                <form method = "POST" action = "/landing-page/" enctype="multipart/form-data">
                    <div class = "form-group-2">
                        <input type="file" id = "csvfile" name="csvfile" class="form-control" required>
                        
                    </div>
               
                    <button type = "submit" id = "upload-btn" class = "upload-btn">Upload</button>
                     
                           

                </form>
                
        </div>
    </div>
</div>