.message-bubble > *
{
    padding-left: 10px;    
}

.message-bubble 
{
    padding: 5px 0px 5px 0px;
}

.message-bubble:nth-child(even) { background-color: #F5F5F5; }
		
#messages{
	height: 65vh;
	overflow-y: auto;
}

#buttons_wrapper {
	position:relative; left:15px;
}