<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Database</title>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/menu.ejs') %>
    <br>
        <%- body %>
    <br>
    <% include('../partials/script.ejs') %>
</body>
</html>