<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <%- include ('../partials/head.ejs') %>
   
</head>
<body>
    <br>
        <%- body %>
    <br>
  
     <%- include('../partials/script.ejs') %>
</body>
</html>
