<div class="container my-6">
  <div class="row">
    <div class="col-md-7 col-lg-7 text-center mx-auto">
      <h1>Select what describes you best:</h1>
      <a href="/business" class="btn btn-primary btn-block btn-lg"> Business </a>
      <a href="/user" class="btn btn-secondary btn-block btn-lg"> User </a>
    </div>
  </div>
</div>
