<div class="container my-6">
  <div class="row">
    <div class="col-md-7 col-lg-7 text-center mx-auto">
      <h1>User</h1>
      <p> Select one of the following: </p>
      <a href="/user/login" class="btn btn-primary btn-block btn-lg"> Login-In</a>
      <a href="/user/signup" class="btn btn-secondary btn-block btn-lg">Sign Up</a>
    </div>
  </div>
</div>
